doctype html 
html
    head 
        block head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
            link(rel='stylesheet' href='/css/style.css')
            link(rel='shortcut icon' type='image/img' href='/imgs/favicon.png')
            link(rel='style' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
            link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous")
            title H Medicals | #{title}

   
    body
        // header
        header.header
            nav.nav.nav--tours
                a.nav__el(href='http://localhost:4000/user/admin/quan-ly-nguoi-dung?page=1&limit=10')  Người dùng
                a.nav__el(href='http://localhost:4000/user/admin/quan-ly-san-pham?page=1&limit=3')  Sản phẩm
                a.nav__el(href='http://localhost:4000/user/admin/quan-ly-danh-muc?page=1&limit=10')  Danh mục
                
            .header__logo
                img(src='/imgs/logo-white.png' alt='Natours logo')
            nav.nav.nav--user
                if user
                    a.nav__el.nav__el--logout(href='/auth/logout') Log Out
                    .nav__el
                        img.nav__user-img(src=`http://localhost:4000/${user.photoUrl.slice(11).replaceAll("\\", "/")}` alt='User photo')
                        span= user.name.split(' ')[0]
                else
                    a.nav__el.nav__el-cta(href='#') Đăng kí
                    a.nav__el.nav__el-cta(href='/auth/login') Đăng nhập
        block content 
            main 
                .login_require
                    h1 Danh sách trống!
                    .form__group
                        button.btn.btn--green(type='button', onclick="back()") Quay lại
                input#page(value=`${page}`, type='hidden')
                input#limit(value=`${limit}`, type='hidden')   
            script. 
                function back(){
                    history.back()
                }