extend base

block content 
    .main__me
        nav.me__nav
            #nav-tab.me__nav_tabs.nav.nav-tabs(role='tablist')
                button#nav-home-tab.nav-link.active(data-bs-toggle='tab', data-bs-target='#nav-home', type='button', role='tab', aria-controls='nav-home', aria-selected='true') Thông tin cá nhân
                //- button#nav-profile-tab.nav-link(data-bs-toggle='tab', data-bs-target='#nav-profile', type='button', role='tab', aria-controls='nav-profile', aria-selected='false') Đơn mua
                //- button#nav-contact-tab.nav-link(data-bs-toggle='tab', data-bs-target='#nav-contact', type='button', role='tab', aria-controls='nav-contact', aria-selected='false') Đơn bán
                //- button#nav-contact-tab.nav-link(data-bs-toggle='tab', data-bs-target='#nav-dang-bai', type='button', role='tab', aria-controls='nav-dang-bai', aria-selected='false') Đăng bài
            #nav-tabContent.tab-content
                #nav-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-home-tab', tabindex='0')
                    
                    form( action=`http://localhost:4000/user-contract/xac-nhan/${address}` method="patch").form.form--login
                        .form__group
                            label.form__label(for='email') Tên người dùng
                            input.form__input(value=`${me.name}`,  required, name="name")
                        .form__group.ma-bt-md
                            label.form__label(for='password') Địa chỉ email
                            input.form__input(value=`${me.email}`,  required, name="email")
                        .form__group.ma-bt-md
                            label.form__label(for='password') Số điện thoại
                            input.form__input( value=`${me.phoneNumber} ETH`, required, name="phone", id="phone")
                        .form__group.ma-bt-md
                            label.form__label(for='password') Địa chỉ
                            input.form__input( value=`${me.address}`, required, name="address", id="address")
                        
                        button(type='submit').btn.btn--green Cập nhật thông tin

                
        .me__button
            .my__posts
                a(href=`http://localhost:4000/user/${me.id}/don-mua`)
                    button.btn.btn-secondary Đơn mua
                if me.role == "6350b3325bc8d1ddf91786cc"
                    a(href=`http://localhost:4000/user/${me.id}/don-ban`)
                        button.btn.btn-secondary Đơn bán
                if me.role == "6350b3325bc8d1ddf91786cc"
                    a(href=`http://localhost:4000/user/${me.id}/tat-ca-bai-dang?page=1&limit=3`)
                        button.btn.btn-secondary Sản phẩm
                if me.role == "6350b3325bc8d1ddf91786cc"
                    a(href=`http://localhost:4000/user/${me.id}/dang-bai`)
                        button.btn.btn-secondary Đăng bài
                a(href='http://localhost:4000/hang-hoa/tat-ca-mat-hang')
                    button.btn.btn-secondary Trang chủ