extend base

block content 
    .main__me
        .me__link
                a.btn.btn-primary(href=`/user/${me.id}`) Thông tin cá nhân
                a.btn.btn-primary(href=`/user/${me.id}/don-hang-cua-ban`) Đơn hàng của bạn
                a.btn.btn-primary(href='#') Đăng bài
                
        .me__data
            form
                .mb-3
                    label.form-label(for='name' style="font-weight:bold; text-transform: uppercase;") Tên người dùng
                    input(value=`${me.name}` style="font-size:large")#name.form-control()
                .mb-3
                    label.form-label(for='email' style="font-weight:bold; text-transform: uppercase;") Địa chỉ email
                    input(value=`${me.email}` style="font-size:large")#email.form-control()
                .mb-3
                    label.form-label(for='phone' style="font-weight:bold; text-transform: uppercase;") Số điện thoại
                    input(value=`${me.phoneNumber}` style="font-size:large")#phone.form-control()
                button.btn.btn-primary(type='submit' style="font-size:large") Cập nhật thông tin