extends base

block content
  main.main
    .card-container
    
      each merchaindise in merchaindises
        .card
          .card__header
            .card__picture
              .card__picture-overlay &nbsp;
              img.card__picture-img(src=`http://localhost:4000/${merchaindise.imageAvatar.slice(11).replaceAll("\\", "/")}`, alt=`${merchaindise.name}`)
            //- h3.heading-tertirary
            //-   span= merchaindise.name
          .card__name
            h3= merchaindise.name
          .card__details
            h4.card__sub-heading= 'Mã đăng kí'
            p.card__text= merchaindise.registrationCode
            .card__detail__wrapper
                .card__data
                    span= `Mô tả: ${merchaindise.description}`
                .card__data
                    span= `Đơn giá: ${merchaindise.unitPrice}`
                .card__data
                    span= `Số lượng đã bán: ${merchaindise.soldQuantity}`
                .card__data
                    pan= `Đơn vị tính: ${merchaindise.unit}`

          .card__footer
            a.btn.btn--green.btn--small(href=`/hang-hoa/chi-tiet/${merchaindise.id}`) Chi tiết
      input#page(value=`${page}`, type='hidden')
      input#limit(value=`${limit}`, type='hidden')
  
  nav(aria-label='Page navigation example').paginate
    ul.pagination.justify-content-center
        li.page-item
            button.page-link(onclick="pre()") Previous
        li.page-item
            a.page-link(href='?page=1&limit=3') 1
        li.page-item
            a.page-link(href='?page=2&limit=3') 2
        li.page-item
            a.page-link(href='?page=3&limit=3') 3
        li.page-item
            button.page-link(onclick="next()") Next

  script. 
    function next(){
      let page = parseInt(document.getElementById('page').value) + 1;
      let limit = document.getElementById('limit').value;
      window.location.href = `?page=${page}&limit=${limit}`
    }

    function pre(){
      if(document.getElementById('page').value != 1){
        let page = parseInt(document.getElementById('page').value) - 1;
        let limit = document.getElementById('limit').value;
        window.location.href = `?page=${page}&limit=${limit}`
      }
    }