extend base

block content 
    .main__me
        .me__data
            if orderResult.length == 0
                h1 HIỆN TẠI BẠN CHƯA CÓ ĐƠN BÁN NÀO
            else
                h1 DANH SÁCH ĐƠN BÁN CỦA BẠN
                br
                each order, index in orderResult
                    .don-mua
                        //- input.form-control(type='text', aria-label='Sizing example input', aria-describedby='inputGroup-sizing-default', readonly, value=`${index}: ${order.productName}`)
                        .don__mua_span #{index +1}
                        a.don__mua__link(href=`http://localhost:4000/user-contract/don-ban/${order.info.orderAddress}`) #{(order.info.productName.charAt(0).toUpperCase() + order.info.productName.slice(1)).replaceAll(' ', '-') + '-' + order.name}
                        if order.info.status == 0
                            if order.info.balance == 0
                                .don__mua__status Cancelled  
                            else 
                                .don__mua__status New
                        else if order.info.status == 1
                            .don__mua__status Processing
                        else if order.info.status == 2
                            .don__mua__status Deliveried
                        else if order.info.status == 3
                            .don__mua__status Cancelled
                        else if order.info.status == 4
                            .don__mua__status Completed
                        a.don__mua__status(href=`http://localhost:4000/user-contract/don-ban/${order.info.orderAddress}`) Chi tiết
        .btn-back__wrapper
            button.btn.btn-secondary(onclick='back()') Quay lại
    nav(aria-label='Page navigation example').paginate
                    ul.pagination.justify-content-center
                        li.page-item.disabled
                            a.page-link Previous
                        li.page-item
                            a.page-link(href='?page=1&limit=10') 1
                        li.page-item
                            a.page-link(href='?page=2&limit=10') 2
                        li.page-item
                            a.page-link(href='?page=3&limit=10') 3
                        li.page-item
                            a.page-link(href='#') Next
    script.
        function back(){
        history.back()
        }